body{
    padding: 48px;    
    max-width: 400px;
    background-color: rgb(247, 244, 244);
    font-family: Roboto, sans-serif;

}

#datetime-picker{
    font-size: 17px;
    height: 30px;
    width: 245px;
}

button[data-start] {
    cursor: pointer;
    font-size: 17px;
    height: 30px;
}

.disabled {
    color: #aaa8a8;
    cursor: not-allowed;
    pointer-events: none;

}

.disabled:hover,
.disabled:focus {
    color: #aaa8a8;
    cursor: not-allowed;
    pointer-events: none;

}

.timer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    

}
.field{
    display: flex;
    flex-direction: column;
    font: inherit;
    text-transform: uppercase;
}

.field .value{
    font-size: 45px;
    text-align: center;
}

.field .label {
    font-size: 15px;
    text-align: center;
}